<div class="about">

    <h1>Sobre mim</h1>

    <div class="text-container">
      <p>
        &nbsp;&nbsp;
        Dev FullStack em formação, foco e determinação são duas palavras que me representam. Venho
        estudando e desenvolvendo pequenos projetos na área desde 2022, atuo principalmente com as
        ferramentas para front-end com Angular e back-end com Java utilizando o Spring Framework, assim
        como utilização de banco de dados relacionais. Busco aplicar meus conhecimentos para o
        desenvolvimento da empresa.
        </p>

          <p>
            &nbsp;&nbsp;
            Como pessoa me considero bastante colaborativo, gosto de trabalhar em equipe, consigo absorver de forma muito rápida os conteúdos,
            resiliente e altruísta.
            Qualidades ao meu ver essênciais para o desenvolvimento produtivo de uma equipe,


            Minha meta é ser um renomado desenvolvedor full-stack e contribuir para a comunidade
            com os meus conhecimentos e técnicas.
          </p>
    </div>
</div>
