<!-- As a link -->
<nav class="navbar navbar-dark bg-dark" id="navbar">
  <div class="max-width">
    <div class="logo">
      <a href="#"><span>MV</span>Website</a>
    </div>

    <ul class="menu">
      <li><a href="#" routerLink="/portfolio">Portfólio</a></li>
      <li><a href="#" routerLink="/skills">Habilidades</a></li>
      <li><a href="#" routerLink="/contact">Contato</a></li>
      <li><a href="#" routerLink="/about-me">Sobre</a></li>
    </ul>
  </div>
</nav>

<!-- Responsive Navbar -->
<header>

  <div class="logo">
    <a href="#"><span>MV</span>Website</a>
  </div>

  <div class="hamburguer" (click)="hamburguerClick()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <nav class="nav-bar">
    <ul>

      <li>
        <a href="">Portfólio</a>
      </li>

      <li>
        <a href="">Habilidades</a>
      </li>

      <li>
        <a href="">Contato</a>
      </li>

      <li>
        <a href="">Sobre</a>
      </li>
    </ul>
  </nav>
</header>




