
<div class="new-container">

  <div class="skills-title">
    <h1>Habilidades</h1>
    <h4>Hard Skills</h4>
  </div>


  <div class="skill-box">
    <span class="title">
      <a href="https://www.java.com/pt-BR/" target="_blank"
      data-toggle="tooltip" data-placement="right" title="Java">
        <i class="fa-brands fa-java"></i>
      </a>
      </span>
    <div class="skill-bar">
      <span class="skill-per java">
        <span class="tooltip1">90%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title">
      <a href="https://spring.io/" target="_blank"
      data-toggle="tooltip" data-placement="right" title="Spring Framework">
      <i class="fa-solid fa-leaf"></i>
      </a>
    </span>
    <div class="skill-bar">
      <span class="skill-per spring">
        <span class="tooltip1">80%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title">
      <a href="https://angular.io/" target="_blank"
      data-toggle="tooltip" data-placement="right" title="Angular">
        <i class="fa-brands fa-angular"></i>
      </a>
    </span>
    <div class="skill-bar">
      <span class="skill-per angular">
        <span class="tooltip1">75%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title">
      <a href="https://nodejs.org/en" target="_blank"
      data-toggle="tooltip" data-placement="right" title="Node.js">
        <i class="fa-brands fa-node"></i>
      </a>
    </span>
    <div class="skill-bar">
      <span class="skill-per nodejs">
        <span class="tooltip1">65%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> <a href="https://www.w3schools.com/html/default.asp" target="_blank"
      data-toggle="tooltip" data-placement="right" title="HTML5">
      <i class="fa-brands fa-html5"></i>
    </a>
  </span>
    <div class="skill-bar ">
      <span class="skill-per html">
        <span class="tooltip1">95%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> <a href="https://www.w3schools.com/css/default.asp" target="_blank"
      data-toggle="tooltip" data-placement="right" title="CSS3">
      <i class="fa-brands fa-css3-alt"></i>
    </a>
  </span>
    <div class="skill-bar">
      <span class="skill-per css">
        <span class="tooltip1">75%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" target="_blank"
      data-toggle="tooltip" data-placement="right" title="JavaScript">
      <i class="fa-brands fa-js "></i>
    </a>
  </span>
    <div class="skill-bar">
      <span class="skill-per javascript">
        <span class="tooltip1">85%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"><a href=""
      data-toggle="tooltip" data-placement="right" title="Banco de Dados">
      <i class="fas fa-database"></i>
    </a>
  </span>
    <div class="skill-bar">
      <span class="skill-per banco-de-dados">
        <span class="tooltip1">80%</span>
      </span>
    </div>
  </div>



</div>

