<!-- <section class="skills-title">


  <div class="skills-container"> -->

<div class="new-container">

  <div class="skills-title">
    <h1>Habilidades</h1>
    <h4>Hard Skills</h4>
  </div>


  <div class="skill-box">
    <span class="title"> Java </span>
    <div class="skill-bar">
      <span class="skill-per java">
        <span class="tooltip1">90%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> Spring Boot </span>
    <div class="skill-bar">
      <span class="skill-per spring">
        <span class="tooltip1">80%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> Angular </span>
    <div class="skill-bar">
      <span class="skill-per angular">
        <span class="tooltip1">75%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> Node.js </span>
    <div class="skill-bar">
      <span class="skill-per nodejs">
        <span class="tooltip1">65%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> HTML </span>
    <div class="skill-bar ">
      <span class="skill-per html">
        <span class="tooltip1">95%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> CSS </span>
    <div class="skill-bar">
      <span class="skill-per css">
        <span class="tooltip1">75%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> JavaScript </span>
    <div class="skill-bar">
      <span class="skill-per javascript">
        <span class="tooltip1">85%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> SQL </span>
    <div class="skill-bar">
      <span class="skill-per sql">
        <span class="tooltip1">85%</span>
      </span>
    </div>
  </div>

  <div class="skill-box">
    <span class="title"> NoSQL </span>
    <div class="skill-bar nosql">
      <span class="skill-per">
        <span class="tooltip1">70%</span>
      </span>
    </div>
  </div>

</div>



<!-- <div class="skills-content">
      <a href="https://www.java.com/pt-BR/" target="_blank"><i class="fa-brands fa-java"></i></a>
      <hr>
      <p>Java</p>
    </div>

    <div class="skills-content">
      <a href=""><i class="fa-solid fa-leaf"></i></a>
      <p>Spring Boot</p>
    </div>

    <div class="skills-content">
      <a href="https://angular.io/" target="_blank"><i class="fa-brands fa-angular"></i></a>
      <p>Angular</p>
    </div>

    <div class="skills-content">
      <a href="https://nodejs.org/en" target="_blank"><i class="fa-brands fa-node"></i></a>
      <p>Node.js</p>
    </div>

    <div class="skills-content">
       <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" target="_blank"><i class="fa-brands fa-js "></i></a>
       <p>JavaScript</p>
    </div>

    <div class="skills-content">
       <a href=""><i class="fa-brands fa-html5"></i></a>
       <p>HTML</p>
    </div>

    <div class="skills-content">
      <a href=""><i class="fa-brands fa-css3-alt"></i></a>
      <p>CSS</p>
    </div>

    <div class="skills-content">
      <a href=""><i class="fas fa-database"></i></a>
      <p>Banco de Dados</p>
    </div> -->
<!--
  </div>
</section> -->
