
.new-container{
  position: relative;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  background: var(--root-grey);
  padding: 3px 3px;
  border-radius: 10px;
}

.skills-title{
  width: auto;
  background-color: var(--root-grey);
  border-radius: 10px;
  text-align: center;
  padding: 3px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-title h1{

  position: relative;
  padding: 5px;
  margin: 10px;
  font-weight: 500;
  font-size: 40px;
  color: #d4d4d4;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}


.skills-title h1::after, .skills-title h1::before{
content: " ";
display: block;
margin: 10px 0 10px 0;
border-bottom: 3px solid var(--root-blue);
background-color:#f8f8f8;
}

.skills-title h4{
  color: #f2f2f2;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

.new-container .skill-box{
  width: 100%;
  margin: 25px 0;
}


.title a {
  text-align: center;
}
.title a i{
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  padding: 1px;
  width: 50px;
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 5px;
  transition: 0.5s ease-out;
}


.title a .fa-java:hover{
  color: #f89820;
  background-color: #fff;
}
.title a .fa-leaf:hover{
  color:#ebebeb;
  background-color: #5e8d5a;
}

.title a .fa-angular:hover{
  color: #B52E31;
  background-color: #fff;
}

.title a .fa-node:hover{

  color: #3c873a;
  background-color:#303030 ;
}
.title a .fa-js:hover{
  color:#F0DB4F ;
  background-color: #323330;
}

.title a .fa-html5:hover{
  color:#f06529;
  background-color: #ebebeb;
}

.title a .fa-css3-alt:hover{
  color:#2965f1;
  background-color: #ebebeb;

}

.title a .fa-database:hover{
  color:#808080;
  background-color: #ebebeb;
}




.skill-box .skill-bar{
  width: 100%;
  height: 8px;
  border-radius: 5px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: var(--root-blue);
  animation: progress 1.2s ease-in-out forwards;
  opacity: 0;
}

.skill-bar .spring{
  width: 80%;
}

.skill-bar .angular{
  width: 75%;
}

.skill-bar .nodejs{
  width: 65%;
}

.skill-bar .html{
  width: 95%;
}

.skill-bar .css{
  width: 75%;
}

.skill-bar .javascript{
  width: 85%;
}

.skill-bar .banco-de-dados{
  width: 80%;
}

.skill-bar .nosql{
  width: 70%;
}

@keyframes progress {
  0%{
    width: 0%;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.skill-per .tooltip1{
  position: absolute;
  right: -20px;
  top: -28px;
  font-size: 13px;
  font-weight: 300;
  padding: 2px 6px;
  border-radius: 3px;
  color: #fff;
  background-color: var(--root-blue);

}




