<div class="container">

  <div class="skills-title">
    <h1>Portfólio</h1>
  </div>

  <div class="card-container">

    <div class="card" style="width: 18rem;">
      <img src="/assets/portfolio-mv-technology.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MV Techonology</h5>
        <p class="card-text">E-commerce sobre uma loja de eletrônicos desenvolvido em Angular</p>
        <a href="https://mv-technology.vercel.app/produtos" target="_blank" class="btn btn-primary">Visitar Site</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/portfolio-tour-of-heroes.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tour of Heroes</h5>
        <p class="card-text">CRUD de heróis desenvolvido em Angular. Desafio proposto pelo próprio angular.io.</p>
        <a href="https://tour-of-heroes-angular-mv-vieira.vercel.app/heroes" target="_blank" class="btn btn-primary">Visitar Site</a>
      </div>
    </div>

    <div class="card" style="max-width: 18rem;">
      <img src="/assets/portfolio-e-commerce (2).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Clothing E-commerce</h5>
        <p class="card-text">Projeto de uma loja de roupas desenvolvido em HTML, CSS e JS <br> . </p>
        <a href="https://github.com/mv-vieira/E-commerce-HTML-CSS-JS-" target="_blank" class="btn btn-primary">Visitar Site</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/GET-ALL-DSLIST.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DS List</h5>
        <p class="card-text">API Rest desenvolvida em Java Spring e BD Postgres, onde lista jogos em seus endpoints.</p>
        <a href="https://github.com/mv-vieira/dslist" target="_blank" class="btn btn-primary">Visitar Site</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/portfolio-parking-spot-control.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Parking Spot Control</h5>
        <p class="card-text">API Rest em Java Spring e BD Postgres, controle de vagas de um estacionamento. </p>
        <a href="#" class="btn btn-primary">Visitar Site</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/em-breve.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Projeto em andamento</h5>
        <p class="card-text">Novo projeto em desenvolvimento... <br><br></p>
        <a href="**" class="btn btn-primary">Visitar Site</a>
      </div>
    </div>

  </div>

</div>
