<div class="container-profile">
  <div class="profile-card">
    <div class="profile-pic">
      <img src="/assets/profile.jpg" class="img-thumbnail" alt="profile.jpg">
    </div>
    <div class="profile-details">
      <div class="intro">
        <h2>Matheus Vicente</h2>
        <h4>Web Developer</h4>
        <div class="social">
          <a href="https://www.instagram.com/mv.vieira_/" target="_blank"><i class="fab fa-instagram" style="color:var(--blue)"></i></a>
          <a href="https://www.linkedin.com/in/matheus-vicente-65442b235/" target="_blank"><i class="fab fa-linkedin" style="color:var(--skyblue)"></i></a>
          <a href="https://wa.me/5581995025913" target="_blank"><i class="fab fa-whatsapp" style="color:var(--light-green)"></i></a>
        </div>
      </div>

      <div class="contact-info">

        <div class="row-content">
          <div class="icon">
            <i class="fa-brands fa-github"></i>
          </div>
          <div class="content">
            <span>Github</span>
            <h5><a href="https://github.com/mv-vieira" target="_blank">mv-vieira</a> </h5>
          </div>
        </div>

        <div class="row-content">
          <div class="icon">
            <i class="fa fa-envelope-open" style="color:var(--light-green)"></i>
          </div>
          <div class="content">
            <span>Email</span>
            <h5>mv_vieira96@hotmail.com</h5>
          </div>
        </div>

        <div class="row-content">
          <div class="icon">
            <i class="fa fa-map-marker" style="color:var(--light-purple)"></i>
          </div>
          <div class="content">
            <span>Localidade</span>
            <h5>Recife, Pernambuco</h5>
          </div>
        </div>

      </div>

      <div>
        <button class="download-btn"><a href="/assets/MATHEUS - VICENTE .pdf" download="Matheus-Vicente-Dev.pdf">Download CV</a></button>
      </div>

    </div>
  </div>
</div>

